@@charset "UTF-8";

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background-color: #ccc;
}

label{
  margin-bottom: 40px;
  font-family: Arial;
}
.center{
    max-width: 1024px;
    margin: auto;
}

.toptop{
    margin-left: 40px;
    margin-top: 40px;
}

.nave {
    background-color: #ff7600 !important;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.anav {
    color: white !important;
    text-decoration: none !important;
    font-size: large;
}

.txt-a {
    text-align: center;
}

.nav-item:hover {
    color: #05286F !important;
}


#img_perfil{
  display: none;
}

.perfil{

  height: 150px;
  width: 150px;


  object-fit: cover;
  object-position: top;
}

.p2{
  width: 100px;
  height: 100px;
}

.p3{
  width: 50px;
  height: 50px;
}


.figures{
  margin-right: 30px;
}

.btn{
  background-color: #ff7600;
}

#alerta{
  transform: scale(1.1);
  z-index: 2;
  position: fixed;
  width: 500px;
  margin-left: 11%;
}

footer {
    margin-top: auto;
    color: white;
    background-color: #05286F;
}
footer .icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}
