@charset "UTF-8";

*{
  margin: 0;
  border: 0;
  padding: 0;
}
body{
  background-image: url("../imgs/img_pgn/contato-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

main .conteudo{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: auto;
}

.btn-enviar{
  background-color: #ff7600;
  color: white;
  width: 100px;
}

main .alert {
  z-index: 3;
  position: fixed;
  width: 500px;
  margin-left: calc(25% - 250px);
}

header .login {
  position: absolute;
  top: 10px;
}

@media only screen and (max-width: 768px){
  body{
    background-image: url();
  }

  main .conteudo{
    shadow: 0;
  }

  main .alert {
    z-index: 3;
  }

}
