@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

.jumbotron{
  height: 400px;
  filter: blur(5px);
  border: solid 3px rgba(0, 0, 0, 1);
  padding: 0 !important;
}
.img-jumbotron{

  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.positionImg{
  width: 900px;
  left: 50%;
  position: relative;
  margin-left: -450px;
}
.img-evento{
  height: 500px;
  margin-top: -22%;
  padding: 0;
  z-index: 2;
  border-radius: 10px;
}

.nome-criador{
  padding-left: 5px;
}

.img-criador{
  height: 40px;
  width: 40px;
  border-radius: 50%;

  object-fit: fill;
}

.img-participante{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: fill;
}


.denuncia{
  position: absolute;
  left: 85%;
  color: rgba(0, 0, 0, 0.6)
}

.denuncia:hover{
  cursor: pointer;
  color: black;
}

.denRadio{
  padding: 8px;
  display: block;
}

.content-den{
  position: absolute;
  left: 50%;
  width: 700px;
  margin-top: 50px;
  z-index: 2;
}

.setaD:before{
  position: absolute;
  left: 90%;
  top: -12%;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
}

.content{
  width: 900px;
  position: relative;

  margin-top: 30px;
  left: 50%;
  margin-left: -450px;
}

main .content h1{
  font-weight: bold;
  color: #ff7600;
  font-size: 25px;
}

main .content h2{
  font-weight: bold;
  color: #ff7600;
  font-size: 20px;
}

main .content .icone{
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
}

main #participantes:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.hide{
  display: none;
}

#partList{
  position: absolute;
  z-index: 4;
  margin-left: 100px;
}

main .content .bttn{
  background-color: #ff7600;
  border-raius: 6px;
  color: white;
  width: 150px;
  margin-left: calc(50% - 75px);
}


.cancelar {
  width: 300px;
  margin-left: calc(50% - 150px);
}

@media only screen and (max-width: 900px){

  .jumbotron{
    display: none;
  }
  .img-evento{
    position: inherit;
    margin: 0;
    object-position: center;
  }

  .content{
    position: relative;
    margin: auto;
    left: 0;
    margin-top: 30px;
  }

  /* DENUNCIA */

  .denuncia{
    position: relative;
    left: calc(50% - 50px);
    color: rgba(0, 0, 0, 0.6)
  }

  .denuncia:hover{
    cursor: pointer;
    color: black;
  }

  .content-den{
    position: relative;
    width: 600px;
    left: calc(50% - 150px);
    margin: 0;
  }

  #formDenuncia{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .setaD:before{
    position: absolute;
    left: 50%;
    top: -7%;
  }

}

@media only screen and (max-width: 550px){

  .img-evento{
    display: none;
  }

  .content-den{
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0;
  }

  #formDenuncia{
    left: 0;
    margin: 0;
    background: yellow;
  }


}
