@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

.jumbotron{
  height: 400px;
  background-image: url("../imgs/img_eventos/evento.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  filter: blur(5px);
  border: solid 3px rgba(0, 0, 0, 1);
}

.img-evento{
  width: 900px;
  height: 500px;

  object-fit: cover;
  object-position: center;

  position: relative;
  left: 50%;
  margin-left: -450px;
  margin-top: -22%;
  z-index: 2;
  border-radius: 15px;

}

.content{
  width: 900px;
  position: relative;

  margin-top: 30px;
  left: 50%;
  margin-left: -450px;
}

main .content h1{
  font-weight: bold;
  color: #ff7600;
  font-size: 25px;
}

main .content h2{
  font-weight: bold;
  color: #ff7600;
  font-size: 20px;
}

main .content .icone{
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
}

main .content .btn{
  background-color: #ff7600;
  border-raius: 6px;
  color: white;
  width: 150px;
  margin-left: calc(50% - 75px);
}

@media only screen and (max-width: 900px){

  .jumbotron{
    display: none;
  }
  .img-evento{
    position: inherit;
    margin: 0;
  }

  .content{
    position: relative;
    margin: auto;
    left: 0;
    margin-top: 30px;
  }

}
