@charset "utf-8";
/* CSS Document */

body
{
    background-image: url(fundo.jpg); 
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

form
{
    background-color: white;
    margin-left: calc(50% - 250px);
    margin-top: 10%;
    width: 500px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

.conteudomain
{
    padding-left: 147.5px;
}

.fzrlogin
{
    font-size: 24px;
    padding-left: 40px;
}

.input
{
    border-style: none;
    background-color: white !important;
}


.content label{
    border-style: groove;
    padding: 5px;
    width: 350px;
    border-width: 1px;
} 

.content label:hover{
    cursor: text;
}

.content
{
    padding: 10px;
    margin-left: 80px;
}

.buttom
{
    border-radius: 5px;
    border-style: none;
    background-color: #1b2c6d;
    width: 350px;
    color: white;
}

.buttom:hover{
    background-color: #112266;
}

.naotem
{
    padding-left: 135px;
    font-size: 18px;
}

.cadastre
{
    color: #ff7600;
    text-decoration: none;
}