@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

header {
    width: auto;
    height: 120px;
}

.log{

}

.img-criador{
  height: 40px;
  width: 40px;
  border-radius: 10px;

  object-fit: fill;
}
.search {
    max-width: 500px;
}

.btn-mais{
    background-color: #ff7600;
    color: white;
    height: 30px!important;
    border-radius: 10px;
    text-decoration: none!important;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.icon-mais{
    background-color: #ff7600;
    color: white;
}

.input-search{
    width: 350px;
    color: #656464;

    border-radius: 10px;
    border-style: solid;
    padding-left: 5px;

    background-color: white;
}

.form-userS{
  position: absolute;
  left: 20px;
}

footer a{
  font-size: 2rem;
}

.icon-mais{
    background-color: #ff7600;
    color: white;
}

.center{
    max-width: 1024px;
    margin: auto;
}

.toptop{
    margin-left: 40px;
    margin-top: 40px;
}

.nave {
    background-color: #ff7600 !important;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
}

.anav {
    color: white !important;
    text-decoration: none !important;
    font-size: large;
}

.txt-a {
    text-align: center;
}

.nav-item:hover {
    color: #05286F !important;
}

.btn:hover {
    color: #05286F !important;
}

.dropdown {
    color: black !important;
}

.search {
    max-width: 500px;
}

.card {
    width: 260px;
    border-radius: 10px !important;
    margin: 40px;

}

.btn-plus {
    background-color: #ff7600 !important;
    color: white !important;
    border: solid white 1px !important;
    border-radius: 10px !important;
}

.card-img-top {
    height: 175px;
}

.card-text {
    margin-bottom: 20px;
}

.footer-page {
    background-color: #05286F;
}

/* inicio footer */
html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
/* fim footer */

.text-footer {
    color: white;
}

.ativo{

}

.copyright{
    color: white;
    font-size: 15px;
}

.login{
    width: 260px;
    height: 110px;
    background-color: #e7e7e7;
    border-radius: 0% 0% 10px 10px;

    position: absolute;
    right: 5%;
}

.input-login{
    width: 210px;
    color: #656464;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.75);
    padding-left: 8px;
}

.aform{
    color: #ff7600;
    text-decoration: none!important;
}

.aform:hover {
    color: #05286F !important;
}

.btnlogin{
    color: white;
    background-color: #ff7600;
    border-radius: 10px;
    border: none;
    padding: 0 20px 0 20px;
}

/* ----------- renilson adds -------------- */

#alerta{
  position: absolute;
  right: 25%;
  top: 7%;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, .2);
}

#img_perfil{
  object-fit:cover;
  object-position: top;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

header .login {
  position: absolute;
  top: 10px;
}

.card .btn {
  background-color: #ff7600 !important;
  color: white !important;
  border: solid white 1px !important;
  border-radius: 10px !important;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
}

@media only screen and (max-width: 550px){
  #alerta{
    left: 0;
    top: 0;
  }

  .form-userS{
    position: relative;
    left: calc(50% - 100px);
    width: 200px;
  }
}
